{% load static %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <div class="container">
      <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">                      
        <ul class="nav nav-pills">
          {% include "includes/nav_link.html" with url_name="homepage:index" view_name="homepage" link_text="Главная" %}
          {% include "includes/nav_link.html" with url_name="ice_cream:ice_cream_list" view_name="ice_cream" link_text="Каталог мороженого" %}
          {% include "includes/nav_link.html" with url_name="about:description" view_name="about" link_text="О проекте" %}
        </ul>
      </div> 
      <a class="navbar-brand" href="{% url 'homepage:index' %}">
        <img src="{% static 'img/logo.png' %}" height="50" class="d-inline-block align-top" alt="">            
      </a>         
    </div>
  </nav>
</header>